.container{
    border: none;
    background-color: var(--ternary-color);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.searchResultsBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.searchedUser{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 0.2rem solid black;
    /* gap: 0.2rem; */
    padding: 0.75rem;
    background-color: var(--ternary-color2);
    font-size: 1.25rem;
    cursor: pointer;

}

.searchedUser:first-child{
    border-radius: 0.5rem 0.5rem 0 0;
}

.searchedUser:last-child{
    border-radius: 0 0 0.5rem 0.5rem;
    border-bottom: none;
}

.searchedUser:hover{
    background-color: var(--ternary-color3);    
}

.searchedUser:first-child:last-child{
    border-radius: 0.5rem;
}